In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Water_cleaned_final.csv")

In [3]:
dataset

,Household_ID,members,Daily_Water_Consumption_Liters,Temperature_C,Humidity_percent,water source type,drinking_water_ use _Liters,Appliance_Usage_Water_Liters,Day_type
0,1,2,420,26.4,55,Municipal,12,65,weekday
1,2,3,510,27.1,60,Borewell,15,70,Weekday
2,3,4,630,28.9,58,Municipal,18,75,Weekend
3,4,5,720,30.2,62,Tanker,20,80,Weekday
4,5,3,460,25.8,50,Borewell,14,60,Weekday
...,...,...,...,...,...,...,...,...,...
95,96,6,860,34.8,74,Borewell,24,75,Weekday
96,97,2,380,24.8,50,Tanker,11,65,Weekend
97,98,4,560,28.5,60,Municipal,16,80,Weekday
98,99,3,490,26.4,53,Borewell,13,70,Weekend
99,100,5,700,30.3,68,Borewell,20,75,Weekday

In [4]:
dataset.columns

Index(['Household_ID', 'members ', 'Daily_Water_Consumption_Liters',
       'Temperature_C', 'Humidity_percent', 'water source  type',
       'drinking_water_ use _Liters ', 'Appliance_Usage_Water_Liters',
       'Day_type'],
      dtype='object')

In [5]:
print(dataset.columns.tolist())

['Household_ID', 'members ', 'Daily_Water_Consumption_Liters', 'Temperature_C', 'Humidity_percent', 'water source  type', 'drinking_water_ use _Liters ', 'Appliance_Usage_Water_Liters', 'Day_type']

In [6]:
independent = dataset[['Household_ID',
                       'members',
                       'Daily_Water_Consumption_Liters',
                       'Temperature_C',
                       'Humidity_percent',
                       'water source  type',
                       'drinking_water_ use _Liters',
                       'Appliance_Usage_Water_Liters',
                       'Day_type']]

KeyError: "['members', 'drinking_water_ use _Liters'] not in index"