In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Water_cleaned_final.csv")

In [3]:
dataset

,Household_ID,members,Daily_Water_Consumption_Liters,Temperature_C,Humidity_percent,water source type,drinking_water_ use _Liters,Appliance_Usage_Water_Liters,Day_type
0,1,2,420,26.4,55,Municipal,12,65,weekday
1,2,3,510,27.1,60,Borewell,15,70,Weekday
2,3,4,630,28.9,58,Municipal,18,75,Weekend
3,4,5,720,30.2,62,Tanker,20,80,Weekday
4,5,3,460,25.8,50,Borewell,14,60,Weekday
...,...,...,...,...,...,...,...,...,...
95,96,6,860,34.8,74,Borewell,24,75,Weekday
96,97,2,380,24.8,50,Tanker,11,65,Weekend
97,98,4,560,28.5,60,Municipal,16,80,Weekday
98,99,3,490,26.4,53,Borewell,13,70,Weekend
99,100,5,700,30.3,68,Borewell,20,75,Weekday

In [4]:
numeric_columns = dataset.select_dtypes(include=['int64','float64']).columns
dataset[numeric_columns] = dataset[numeric_columns].astype(float)

In [5]:
dataset.columns

Index(['Household_ID', 'members ', 'Daily_Water_Consumption_Liters',
       'Temperature_C', 'Humidity_percent', 'water source  type',
       'drinking_water_ use _Liters ', 'Appliance_Usage_Water_Liters',
       'Day_type'],
      dtype='object')

In [6]:
print(dataset.columns.tolist())

['Household_ID', 'members ', 'Daily_Water_Consumption_Liters', 'Temperature_C', 'Humidity_percent', 'water source  type', 'drinking_water_ use _Liters ', 'Appliance_Usage_Water_Liters', 'Day_type']

In [7]:
independent = dataset[['Household_ID',
                       'members ',
                       'Daily_Water_Consumption_Liters',
                       'Temperature_C',
                       'Humidity_percent',
                       'water source  type', 
                       'drinking_water_ use _Liters ',
                       'Appliance_Usage_Water_Liters',
                       'Day_type']]

In [8]:
independent

,Household_ID,members,Daily_Water_Consumption_Liters,Temperature_C,Humidity_percent,water source type,drinking_water_ use _Liters,Appliance_Usage_Water_Liters,Day_type
0,1.0,2.0,420.0,26.4,55.0,Municipal,12.0,65.0,weekday
1,2.0,3.0,510.0,27.1,60.0,Borewell,15.0,70.0,Weekday
2,3.0,4.0,630.0,28.9,58.0,Municipal,18.0,75.0,Weekend
3,4.0,5.0,720.0,30.2,62.0,Tanker,20.0,80.0,Weekday
4,5.0,3.0,460.0,25.8,50.0,Borewell,14.0,60.0,Weekday
...,...,...,...,...,...,...,...,...,...
95,96.0,6.0,860.0,34.8,74.0,Borewell,24.0,75.0,Weekday
96,97.0,2.0,380.0,24.8,50.0,Tanker,11.0,65.0,Weekend
97,98.0,4.0,560.0,28.5,60.0,Municipal,16.0,80.0,Weekday
98,99.0,3.0,490.0,26.4,53.0,Borewell,13.0,70.0,Weekend
99,100.0,5.0,700.0,30.3,68.0,Borewell,20.0,75.0,Weekday

In [9]:
dependent = dataset[["Day_type"]]

In [10]:
dependent

   Day_type
0   weekday
1   Weekday
2   Weekend
3   Weekday
4   Weekday
..      ...
95  Weekday
96  Weekend
97  Weekday
98  Weekend
99  Weekday

[100 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
train_test_split(independent,dependent,test_size=0.30,random_state=0)

[    Household_ID  members   Daily_Water_Consumption_Liters  Temperature_C  \
 60          61.0       3.0                           500.0           27.1
 80          81.0       4.0                           610.0           31.2
 90          91.0       3.0                           520.0           27.2
 68          69.0       4.0                           590.0           28.8
 51          52.0       6.0                           820.0           33.5
 ..           ...       ...                             ...            ...
 96          97.0       2.0                           380.0           24.8
 67          68.0       3.0                           520.0           27.4
 64          65.0       4.0                           600.0           29.3
 47          48.0       4.0                           580.0           28.9
 44          45.0       6.0                           810.0           33.1

     Humidity_percent water source  type  drinking_water_ use _Liters   \
 60              56.0           Borewell                          14.0
 80              65.0          Municipal                          19.0
 90              58.0          Municipal                          16.0
 68              61.0          Municipal                          18.0
 51              71.0          Municipal                          22.0
 ..               ...                ...                           ...
 96              50.0             Tanker                          11.0
 67              57.0           Borewell                          16.0
 64              60.0           Borewell                          18.0
 47              60.0          Municipal                          18.0
 44              69.0             Tanker                          21.0

     Appliance_Usage_Water_Liters Day_type
 60                          60.0  Weekday
 80                          65.0  Weekend
 90                          70.0  Weekday
 68                          60.0  Weekend
 51                          75.0  Weekend
 ..                           ...      ...
 96                          65.0  Weekend
 67                          75.0  Weekday
 64                          65.0  Weekday
 47                          75.0  Weekend
 44                          60.0  Weekday

 [70 rows x 9 columns],
     Household_ID  members   Daily_Water_Consumption_Liters  Temperature_C  \
 26          27.0       4.0                           570.0           29.2
 86          87.0       3.0                           510.0           27.9
 2            3.0       4.0                           630.0           28.9
 55          56.0       4.0                           580.0           29.0
 75          76.0       3.0                           500.0           27.3
 93          94.0       4.0                           580.0           29.1
 16          17.0       2.0                           360.0           23.9
 73          74.0       6.0                           840.0           34.0
 54          55.0       5.0                           690.0           30.7
 95          96.0       6.0                           860.0           34.8
 53          54.0       3.0                           510.0           27.9
 92          93.0       5.0                           710.0           31.9
 78          79.0       3.0                           520.0           27.6
 13          14.0       6.0                           820.0           33.4
 7            8.0       5.0                           680.0           31.4
 30          31.0       4.0                           590.0           29.3
 22          23.0       3.0                           450.0           26.5
 24          25.0       5.0                           690.0           30.9
 33          34.0       2.0                           370.0           24.1
 8            9.0       3.0                           480.0           27.8
 43          44.0       3.0                           520.0           27.2
 62          63.0       2.0                           350.0           23.9
 3            4.0       5.0                           720.0           30.2
 71          72.0       5.0                           750.0           32.1
 45          46.0       2.0                           360.0           24.3
 48          49.0       5.0                           700.0           30.4
 6            7.0       4.0                           590.0           29.1
 99         100.0       5.0                           700.0           30.3
 82          83.0       5.0                           700.0           30.4
 76          77.0       4.0                           580.0           29.2

     Humidity_percent water source  type  drinking_water_ use _Liters   \
 26              60.0           Borewell                          18.0
 86              55.0             Tanker                          14.0
 2               58.0          Municipal                          18.0
 55              59.0             Tanker                          17.0
 75              57.0          Municipal                          15.0
 93              61.0             Tanker                          18.0
 16              47.0           Borewell                           9.0
 73              74.0          Municipal                          24.0
 54              66.0          Municipal                          20.0
 95              74.0           Borewell                          24.0
 53              55.0           Borewell                          15.0
 92              69.0          Municipal                          21.0
 78              58.0           Borewell                          16.0
 13              67.0          Municipal                          21.0
 7               63.0             Tanker                          19.0
 30              58.0          Municipal                          17.0
 22              54.0           Borewell                          13.0
 24              64.0             Tanker                          20.0
 33              50.0          Municipal                          11.0
 8               56.0          Municipal                          13.0
 43              56.0           Borewell                          15.0
 62              49.0             Tanker                          10.0
 3               62.0             Tanker                          20.0
 71              70.0           Borewell                          21.0
 45              48.0          Municipal                          10.0
 48              64.0             Tanker                          20.0
 6               57.0           Borewell                          17.0
 99              68.0           Borewell                          20.0
 82              67.0          Municipal                          20.0
 76              60.0             Tanker                          17.0

     Appliance_Usage_Water_Liters Day_type
 26                          70.0  Weekday
 86                          70.0  Weekend
 2                           75.0  Weekend
 55                          75.0  Weekend
 75                          75.0  Weekday
 93                          85.0  Weekday
 16                          65.0  Weekday
 73                          80.0  Weekend
 54                          70.0  Weekday
 95                          75.0  Weekday
 53                          85.0  Weekend
 92                          60.0  Weekday
 78                          70.0  Weekend
 13                          85.0  Weekday
 7                           75.0  Weekend
 30                          70.0  Weekday
 22                          70.0  Weekday
 24                          65.0  Weekday
 33                          80.0  Weekend
 8                           65.0  Weekday
 43                          75.0  Weekend
 62                          70.0  Weekday
 3                           80.0  Weekday
 71                          75.0  Weekend
 45                          85.0  Weekend
 48                          65.0  Weekday
 6                           70.0  Weekday
 99                          75.0  Weekday
 82                          70.0  Weekend
 76                          60.0  Weekend  ,
    Day_type
 60  Weekday
 80  Weekend
 90  Weekday
 68  Weekend
 51  Weekend
 ..      ...
 96  Weekend
 67  Weekday
 64  Weekday
 47  Weekend
 44  Weekday

 [70 rows x 1 columns],
    Day_type
 26  Weekday
 86  Weekend
 2   Weekend
 55  Weekend
 75  Weekday
 93  Weekday
 16  Weekday
 73  Weekend
 54  Weekday
 95  Weekday
 53  Weekend
 92  Weekday
 78  Weekend
 13  Weekday
 7   Weekend
 30  Weekday
 22  Weekday
 24  Weekday
 33  Weekend
 8   Weekday
 43  Weekend
 62  Weekday
 3   Weekday
 71  Weekend
 45  Weekend
 48  Weekday
 6   Weekday
 99  Weekday
 82  Weekend
 76  Weekend]

In [12]:
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [13]:
x_train

,Household_ID,members,Daily_Water_Consumption_Liters,Temperature_C,Humidity_percent,water source type,drinking_water_ use _Liters,Appliance_Usage_Water_Liters,Day_type
60,61.0,3.0,500.0,27.1,56.0,Borewell,14.0,60.0,Weekday
80,81.0,4.0,610.0,31.2,65.0,Municipal,19.0,65.0,Weekend
90,91.0,3.0,520.0,27.2,58.0,Municipal,16.0,70.0,Weekday
68,69.0,4.0,590.0,28.8,61.0,Municipal,18.0,60.0,Weekend
51,52.0,6.0,820.0,33.5,71.0,Municipal,22.0,75.0,Weekend
...,...,...,...,...,...,...,...,...,...
96,97.0,2.0,380.0,24.8,50.0,Tanker,11.0,65.0,Weekend
67,68.0,3.0,520.0,27.4,57.0,Borewell,16.0,75.0,Weekday
64,65.0,4.0,600.0,29.3,60.0,Borewell,18.0,65.0,Weekday
47,48.0,4.0,580.0,28.9,60.0,Municipal,18.0,75.0,Weekend
44,45.0,6.0,810.0,33.1,69.0,Tanker,21.0,60.0,Weekday

In [14]:
x_test

,Household_ID,members,Daily_Water_Consumption_Liters,Temperature_C,Humidity_percent,water source type,drinking_water_ use _Liters,Appliance_Usage_Water_Liters,Day_type
26,27.0,4.0,570.0,29.2,60.0,Borewell,18.0,70.0,Weekday
86,87.0,3.0,510.0,27.9,55.0,Tanker,14.0,70.0,Weekend
2,3.0,4.0,630.0,28.9,58.0,Municipal,18.0,75.0,Weekend
55,56.0,4.0,580.0,29.0,59.0,Tanker,17.0,75.0,Weekend
75,76.0,3.0,500.0,27.3,57.0,Municipal,15.0,75.0,Weekday
93,94.0,4.0,580.0,29.1,61.0,Tanker,18.0,85.0,Weekday
16,17.0,2.0,360.0,23.9,47.0,Borewell,9.0,65.0,Weekday
73,74.0,6.0,840.0,34.0,74.0,Municipal,24.0,80.0,Weekend
54,55.0,5.0,690.0,30.7,66.0,Municipal,20.0,70.0,Weekday
95,96.0,6.0,860.0,34.8,74.0,Borewell,24.0,75.0,Weekday
53,54.0,3.0,510.0,27.9,55.0,Borewell,15.0,85.0,Weekend
92,93.0,5.0,710.0,31.9,69.0,Municipal,21.0,60.0,Weekday
78,79.0,3.0,520.0,27.6,58.0,Borewell,16.0,70.0,Weekend
13,14.0,6.0,820.0,33.4,67.0,Municipal,21.0,85.0,Weekday
7,8.0,5.0,680.0,31.4,63.0,Tanker,19.0,75.0,Weekend
30,31.0,4.0,590.0,29.3,58.0,Municipal,17.0,70.0,Weekday
22,23.0,3.0,450.0,26.5,54.0,Borewell,13.0,70.0,Weekday
24,25.0,5.0,690.0,30.9,64.0,Tanker,20.0,65.0,Weekday
33,34.0,2.0,370.0,24.1,50.0,Municipal,11.0,80.0,Weekend
8,9.0,3.0,480.0,27.8,56.0,Municipal,13.0,65.0,Weekday
43,44.0,3.0,520.0,27.2,56.0,Borewell,15.0,75.0,Weekend
62,63.0,2.0,350.0,23.9,49.0,Tanker,10.0,70.0,Weekday
3,4.0,5.0,720.0,30.2,62.0,Tanker,20.0,80.0,Weekday
71,72.0,5.0,750.0,32.1,70.0,Borewell,21.0,75.0,Weekend
45,46.0,2.0,360.0,24.3,48.0,Municipal,10.0,85.0,Weekend
48,49.0,5.0,700.0,30.4,64.0,Tanker,20.0,65.0,Weekday
6,7.0,4.0,590.0,29.1,57.0,Borewell,17.0,70.0,Weekday
99,100.0,5.0,700.0,30.3,68.0,Borewell,20.0,75.0,Weekday
82,83.0,5.0,700.0,30.4,67.0,Municipal,20.0,70.0,Weekend
76,77.0,4.0,580.0,29.2,60.0,Tanker,17.0,60.0,Weekend

In [15]:
y_train

   Day_type
60  Weekday
80  Weekend
90  Weekday
68  Weekend
51  Weekend
..      ...
96  Weekend
67  Weekday
64  Weekday
47  Weekend
44  Weekday

[70 rows x 1 columns]

In [16]:
y_test

   Day_type
26  Weekday
86  Weekend
2   Weekend
55  Weekend
75  Weekday
93  Weekday
16  Weekday
73  Weekend
54  Weekday
95  Weekday
53  Weekend
92  Weekday
78  Weekend
13  Weekday
7   Weekend
30  Weekday
22  Weekday
24  Weekday
33  Weekend
8   Weekday
43  Weekend
62  Weekday
3   Weekday
71  Weekend
45  Weekend
48  Weekday
6   Weekday
99  Weekday
82  Weekend
76  Weekend

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

categorical_cols = dataset.select_dtypes(include=['object']).columns

for col in categorical_cols:
    dataset[col] = le.fit_transform(dataset[col].astype(str))

In [18]:
target_col = "Daily_Water_Consumption_Liters"  # change if different

indep_X = dataset.drop(target_col, axis=1)
dep_Y   = dataset[target_col]

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    indep_X, dep_Y, test_size=0.25, random_state=0
)

In [20]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=50, random_state=0)
regressor = regressor.fit(x_train, y_train)

In [21]:
y_pred=regressor.predict(x_test)

In [22]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [23]:
r_score

0.9858012876536736

In [24]:
import pickle
filename="random_Forest_finalized.sav"

In [25]:
pickle.dump(regressor,open(filename,'wb'))

In [26]:
loaded_model=pickle.load(open("random_Forest_finalized.sav", 'rb'))
result=loaded_model.predict([[4,32,55,145,1,80,0,55413]]) # check and confirm the predicted output result by inputting values
result

C:\Users\premchandar\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([842.2])