In [1]:
#import the library

In [2]:
import pandas as pd
import numpy as np

In [3]:
#load the dataset

dataset=pd.read_csv("Water.csv")

In [4]:
dataset

,Household_ID,members,Daily_Water_Consumption_Liters,Temperature_C,Humidity_percent,water source type,drinking_water_ use _Liters,Appliance_Usage_Water_Liters,Day_type
0,1,2,420,26.4,55,Municipal,12,65,weekday
1,2,3,510,27.1,60,Borewell,15,70,Weekday
2,3,4,630,28.9,58,Municipal,18,75,Weekend
3,4,5,720,30.2,62,Tanker,20,80,Weekday
4,5,3,460,25.8,50,Borewell,14,60,Weekday
...,...,...,...,...,...,...,...,...,...
95,96,6,860,34.8,74,Borewell,24,75,Weekday
96,97,2,380,24.8,50,Tanker,11,65,Weekend
97,98,4,560,28.5,60,Municipal,16,80,Weekday
98,99,3,490,26.4,53,Borewell,13,70,Weekend
99,100,5,700,30.3,68,Borewell,20,75,Weekday

In [5]:
#

In [8]:
dataset.shape

(100, 9)

In [10]:
#total number rows and colums 
row=dataset.shape[0]
column=dataset.shape[1]
print(f"Total number of rows:{row}\nTotal number of columns:{column}")

Total number of rows:100
Total number of columns:9

In [ ]:
#to see information of dataset

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Household_ID                    100 non-null    int64
 1   members                         100 non-null    int64
 2   Daily_Water_Consumption_Liters  100 non-null    int64
 3   Temperature_C                   100 non-null    float64
 4   Humidity_percent                100 non-null    int64
 5   water source  type              100 non-null    object
 6   drinking_water_ use _Liters     100 non-null    int64
 7   Appliance_Usage_Water_Liters    100 non-null    int64
 8   Day_type                        100 non-null    object
dtypes: float64(1), int64(6), object(2)
memory usage: 7.2+ KB

In [13]:
dataset.describe()  #  descrpitive analysis

,Household_ID,members,Daily_Water_Consumption_Liters,Temperature_C,Humidity_percent,drinking_water_ use _Liters,Appliance_Usage_Water_Liters
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,3.820000,576.700000,28.753000,59.410000,16.520000,72.500000
std,29.011492,1.282201,145.533189,2.938235,7.261487,3.940158,7.470481
min,1.000000,2.000000,340.000000,23.700000,47.000000,9.000000,60.000000
25%,25.750000,3.000000,480.000000,26.775000,54.750000,13.000000,68.750000
50%,50.500000,4.000000,575.000000,28.750000,59.000000,17.000000,72.500000
75%,75.250000,5.000000,692.500000,30.725000,64.250000,20.000000,76.250000
max,100.000000,6.000000,860.000000,34.800000,75.000000,25.000000,85.000000

In [15]:
#cleaning 
#Are there any missing(NaN) and invalid values in the dataset, and how are they handled?

In [16]:
dataset.isnull().sum()  #no missing value

Household_ID                      0
members                           0
Daily_Water_Consumption_Liters    0
Temperature_C                     0
Humidity_percent                  0
water source  type                0
drinking_water_ use _Liters       0
Appliance_Usage_Water_Liters      0
Day_type                          0
dtype: int64

In [17]:
dataset.isna().sum()  #used in data preprocessing to identify how many missing (NaN) values each column contains.

Household_ID                      0
members                           0
Daily_Water_Consumption_Liters    0
Temperature_C                     0
Humidity_percent                  0
water source  type                0
drinking_water_ use _Liters       0
Appliance_Usage_Water_Liters      0
Day_type                          0
dtype: int64

In [21]:
#check for duplicate rows 
dataset[dataset.duplicated()]

Empty DataFrame
Columns: [Household_ID, members , Daily_Water_Consumption_Liters, Temperature_C, Humidity_percent, water source  type, drinking_water_ use _Liters , Appliance_Usage_Water_Liters, Day_type]
Index: []

In [23]:
#no duplicate row find result

In [22]:
#remove the invalid entries

In [24]:
# 1. Remove negative values (not possible in water datasets)
numeric_cols = dataset.select_dtypes(include=['int64', 'float64']).columns
for col in numeric_cols:
    dataset = dataset[dataset[col] >= 0]

# 2. Remove zero or unrealistic water consumption
if "Water_Consumption_Liters" in dataset.columns:
    dataset = dataset[dataset["Water_Consumption_Liters"] > 0]

# 3. Remove invalid humidity values (valid 0–100)
if "Humidity_percent" in dataset.columns:
    dataset = dataset[(dataset["Humidity_percent"] >= 0) &
                      (dataset["Humidity_percent"] <= 100)]

# 4. Filter unrealistic building details
if "Floors" in dataset.columns:
    dataset = dataset[dataset["Floors"] <= 200]     # Max building height limit

if "Occupancy" in dataset.columns:
    dataset = dataset[dataset["Occupancy"] <= 50000]   # Avoid extreme wrong values

# 5. Remove duplicate rows
dataset = dataset.drop_duplicates()

# 6. Remove rows with >50% missing values
dataset = dataset.dropna(thresh=len(dataset.columns) * 0.5)

# 7. Reset index after cleaning
dataset = dataset.reset_index(drop=True)

In [25]:
print("Invalid entries removed successfully!")
print(dataset.head())

Invalid entries removed successfully!
   Household_ID  members   Daily_Water_Consumption_Liters  Temperature_C  \
0             1         2                             420           26.4
1             2         3                             510           27.1
2             3         4                             630           28.9
3             4         5                             720           30.2
4             5         3                             460           25.8

   Humidity_percent water source  type  drinking_water_ use _Liters   \
0                55          Municipal                            12
1                60           Borewell                            15
2                58          Municipal                            18
3                62             Tanker                            20
4                50           Borewell                            14

   Appliance_Usage_Water_Liters Day_type
0                            65  weekday
1                            70  Weekday
2                            75  Weekend
3                            80  Weekday
4                            60  Weekday

In [26]:
#Cleaned Dataset
dataset

,Household_ID,members,Daily_Water_Consumption_Liters,Temperature_C,Humidity_percent,water source type,drinking_water_ use _Liters,Appliance_Usage_Water_Liters,Day_type
0,1,2,420,26.4,55,Municipal,12,65,weekday
1,2,3,510,27.1,60,Borewell,15,70,Weekday
2,3,4,630,28.9,58,Municipal,18,75,Weekend
3,4,5,720,30.2,62,Tanker,20,80,Weekday
4,5,3,460,25.8,50,Borewell,14,60,Weekday
...,...,...,...,...,...,...,...,...,...
95,96,6,860,34.8,74,Borewell,24,75,Weekday
96,97,2,380,24.8,50,Tanker,11,65,Weekend
97,98,4,560,28.5,60,Municipal,16,80,Weekday
98,99,3,490,26.4,53,Borewell,13,70,Weekend
99,100,5,700,30.3,68,Borewell,20,75,Weekday

In [28]:
#saved the cleaned dataset 
dataset.to_csv("Water_cleaned.csv", index=False)

(100, 9)

Total number of rows:100
Total number of columns:9